pytest==8.2.0
pytest-asyncio==0.23.7
pytest-cov>=5.0.0
ruff==0.6.9
mypy==1.11.2

# SQLite драйвер для тестовой базы данных
aiosqlite==0.21.0
pre-commit==4.6.2
# Нагрузочное тестирование
locust>=2.31.0
